<app>

  <div class="header u-l-p">
    <div class="o-wrap">
      <div class="o-grid">
        <div class="o-grid__col o-grid__col--d-first">
          <div class="nav">
            <a href="#collections">Collections</a>
            <a href="#settings">Settings</a>
          </div>
        </div>
        <div class="o-grid__col o-grid__col--d-last">
          <div class="nav">
            <a href="logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="outlet"></div>

  <script>

    this.mounted = null
    this.currentPart = null

    this.collections = null

    riot.route('/collections', function() {
      if (this.mounted) this.mounted.unmount(true)
      this.mounted = riot.mount('#outlet', 'collections')[0]
    }.bind(this))

    riot.route('/settings', function() {
      if (this.mounted) this.mounted.unmount(true)
      this.mounted = riot.mount('#outlet', 'settings')[0]
    }.bind(this))

    this.on('mount', function() {
      riot.route.start(true)
    })
  </script>
</app>