<collections>

  <div class="o-wrap">

    <h1 class="u-l-p">Collections</h1>

    <table>
      <tr each={ collections }>
        <td>{ slug }</td>
        <td>{ settings.meta.desc }</td>
      </tr>
    </table>

  </div>

  <script>
    this.collections = null;

    this.on('mount', function() {
      request('GET', 'collections', null, function(e, r) {
        this.collections = r.data
        this.update()
      }.bind(this))
    })
  </script>
</collections>