@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic);

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes appInit {
  from {
    opacity: 0;
    transform: translate(0, -20px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

app {
  display: block;
}

app {
  animation: appInit 0.8s;
}

table {
  width: 100%;
}

table td {
  padding: 4px 8px;
}

.nav a {
  display: block;
}

.c-btn--loader::before,
.c-btn--loader::after {
  position: absolute;
  content: "";
}

.c-btn--loader::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
}

.c-btn--loader::after {
  left: 50%;
  top: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid;
  border-color: #777 transparent;
  border-radius: 50%;
  margin-top: -8px;
  margin-left: -8px;
  animation: spin .8s infinite linear;
}

.header {
  padding: 15px 20px;
}

.header .nav a {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

.sidebar .nav {
  padding-left: 10px;
}
